<section class="resource wrap">
  <h1>Add a device</h1>

  <%= semantic_form_for @book do |f| %>
    <%= f.input :model %>
    <%= f.input :image, as: :url, label: "Image URL" %>

    <figure id="device_image_preview" style="display: none;">
        <figcaption>Preview</figcaption>
        <%= image_tag "mobile.png", :alt => "Preview" %>
    </figure>

    <%= f.actions %>
  <% end %>
</section>

